@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/Ubuntu-Regular.ttf");
}

div {
    font-family: "Ubuntu";
}

/* App.js */
.App {
}

/* Home.js */
.home {
    /* margin: 0;
    padding: 0; */
}

.intro_wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    align-items: center;
    padding-bottom: 10%;
}
.catch_phrase {
    color: rgb(27, 53, 157);
    font-size: 1.8em;
    padding-right: 10%;
    text-align: right;
}
.intro_wrapper_mobile {
    padding-top: 10%;
    padding-bottom: 20%;
}

.catch_phrase_1 {
    color: black;
    font-size: 0.8em;
    font-family: "Ubuntu";
    text-align: right;
}
.main_img {
    width: 50%;
    display: none;
}
.main_vid {
    width: 60%;
    height: 70%;
    /* display: none; */
}
.main_vid_mobile {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.desc_wrapper {
    background-color: rgb(248, 249, 250);
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.description {
    text-align: center;
    font-size: 1.5em;
}
.logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo_acceler {
    width: 25%;
}
.logo_kakao {
    width: 20%;
}
.logo_gachon {
    width: 15%;
}

div#d1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7%;
    font-family: "Ubuntu";
}

.mem_group {
    text-align: center;
    margin: auto;
}

div#d0 {
    padding-top: 7%;
    font-family: "Ubuntu";
}

.text_1 {
    padding-left: 7%;
    font-family: "Ubuntu";
}

.text_name {
    font-size: 2em;
    padding-top: 7%;
}

.profile_img {
    border-radius: 20%;
    background-color: whitesmoke;
}
